{% extends "base_generic.html" %}

{% block content %}
    <div id="logincontent">

        {% if form.errors %}
        <p class="loginmessage">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p class="loginmessage">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p class="loginmessage">Please login to see this page.</p>
            {% endif %}
        {% endif %}
        
        {% if user.is_authenticated %}
            <h2 class="header">Welcome, {{ user.first_name }}!</h2>
            <p id="reservationhistory"><a href="{% url 'inventory:history' %}">Your Reservation History</a></p>
            <div id="logoutbutton" class="roundbutton">
                <p><a href="{% url 'logout' %}">LOGOUT</a></p>
            </div>
        {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div id="username" class="loginform">
                <p>Username</p>
                <input type="text" name="username">
            </div>
            <div id="password" class="loginform">
                <p>Password</p>
                <input type="password" name="password">
            </div>

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div id="loginbuttons">
                <p id="createaccountbutton"><a href="{% url 'inventory:register' %}">Create Account</a></p>
                <button type="submit" id="loginbutton" class="roundbutton">LOGIN</button>
            </div>
        </form>
        {% endif %}
        
    </div>
{% endblock %}