{% extends "admin/base.html" %}
{% load static %}

{% block title %}Speedcats Car Rental Intranet{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/admin-extra.css" %}" />{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Speedcats Car Rental Intranet</a></h1>
<div id="adminlinks">
    <a href="/inventory/documents/"><p>Documents</p></a>
    <a href="/inventory/training/"><p>Training</p></a>
    <a href="/inventory/accounting/"><p>Accounting</p></a>
    <a href="/inventory/marketing/"><p>Marketing</p></a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
