{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/checkStartForm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validateTime.js' %}"></script>
<script type="text/javascript" src="{% static 'js/location.js' %}"></script>
{% endblock %}

{% block content %}
<h2 class="header" id="locationheader">Change Your Drop Off</h2>

<p id="startinstructions">Begin by selecting your pick up and drop off times and locations. Then, search our wide variety
    of vehicles to find your favorite vehicle.
</p>

<form name="paymentlocation" id="selectlocation" action="{% url 'inventory:reserve' store.ID vehicle.id %}" method="post">
{% csrf_token %}
<div id="dropoffdesktop" class="desktop">
        <div id="dropofftime" class="selectcard">
            <p id="dropofftimetext">{{ drop_off_format }}</p> 
            <i class="material-icons" id="dropofftimearrow">expand_less</i>
        </div>
        <input type="hidden" name="dropofftimeformat" id="dropofftimeformat" value="{{ drop_off_time }}" readonly>
        <input type="hidden" name="pickuptimeformat" id="pickuptimeformat" value="{{ pick_up_time }}" readonly>

        <div id="dropofflocation" class="selectcard" style="display: flex;">
            <p id="dropoffloctext">{{ drop_off_store }}</p>
            <i class="material-icons" id="dropofflocationarrow">expand_less</i>
        </div>
        <input type="hidden" name="dropofflocationid" id="dropofflocationid"  value="{{ drop_off_store.ID }}" readonly>
        <input type="hidden" name="pickuplocationid" id="pickuplocationid" value="{{ store.ID }}" readonly>
    </div>

    <button type="button" id="startbutton" class="roundbutton">Done</button>
</form>

<div id="timeshade" class="popupshade"></div>
<div id="locationshade" class="popupshade"></div>

<div id="dropofftimecard" class="infoselector">
        <div class="infoselectorheader">
            <h3>Select Your Drop Off Time</h3>
            <i id="closedropofftime" class="material-icons">close</i>
        </div>
        <p id="dropofftimemessage">Store Hours: 8:00 A.M. to 6:00 P.M.</p>
        <div class="timepicker">
            <input type="date" id="dropoffdateinput" class="input" name="dateinput"/>
            <p>AT</p>
            <input type="time" id="dropofftimeinput" class="input" name="timeinput" min="7:00" max="20:00"/>
        </div>
        <p id="dropoffdonebutton" class="donebutton">DONE</p>
    </div>

    <div id="dropofflocationcard" class="infoselector mapinfoselector">
            <div id="dropoffmap" class="testmap"></div>
            <div class="infoselectorheader">
                <h3>Select Your Drop Off Location</h3>
                <i id="closedropoff" class="material-icons">close</i>
            </div>
            <div class="locationpicker">
                <p id="dropofflocationtext" class="locationpickertext">{{ drop_off_store }}</p>
            </div>
            <p id="dropofflocationdone" class="donebutton">DONE</p>
        </div>
{% endblock %}

{% block initMap %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTcPqvmsy0xt1IYWSsNnEbipW90i3otLE&libraries=places"></script>
{% endblock %}