{% extends "base_generic.html" %}

{% block content %}
<h2 class="header" id="feedbackheader">Contact Us</h2>
<p id="contactinstructions">Have a question about Speedcats's services? Use the form below to reach out 
    to us. We normally reply to messages within 24-48 hours.</p>
{% if message %}
    <p class="loginmessage">{{ message }}</p>
{% endif %}
<form class="contactform" action="{% url 'inventory:contact' %}" method="post">
    {% csrf_token %}
    <p>Name</p>
    <input type="text" name="name" id="contactname">
    <p>Email</p>
    <input type="email" name="email" id="contactemail" required>
    <p>Subject</p>
    <input type="text" name="subject" id="contactsubject" required>
    <p>Message</p>
    <textarea rows="12" name="message" id="contactmessage" required></textarea>

    <button type="submit" id="sendbutton" class="roundbutton">Send</button>
</form>
{% endblock %}