{% extends "base_generic.html" %}

{% block content %}
<h2 class="header" id="feedbackheader">Contact Us</h2>
<p id="contactinstructions">Have a question about Speedcats's services? Use the form below to reach out to us.</p>
<form class="contactform">
    <p>Name</p>
    <input type="text" name="name" id="contactname">
    <p>Email</p>
    <input type="email" name="email" id="contactemail">
    <p>Subject</p>
    <input type="text" name="subject" id="contactsubject">
    <p>Message</p>
    <textarea rows="12"></textarea>

    <button type="submit" id="sendbutton" class="roundbutton">Send</button>
</form>
{% endblock %}