{% extends "inventory/intranet_base.html" %}
{% load static %}

{% block content %}
<h2 id="pageheader">Documents</h2>
<p id="instructions">View and download various employee documents.</p>

<div class="downloadlink">
    <p>Employment Application</p>
    <a href="{% static 'docs/application.docx' %}"><i class="material-icons">save_alt</i></a>
</div>

<div class="downloadlink">
    <p>Employee Termination</p>
    <a href="{% static 'docs/termination.docx' %}"><i class="material-icons">save_alt</i></a>
</div>

<div class="downloadlink">
    <p>Time-Off Request</p>
    <a href="{% static 'docs/timeoff.docx' %}"><i class="material-icons">save_alt</i></a>
</div>

<div class="downloadlink">
    <p>Form W-4</p>
    <a href="{% static 'docs/fw4.pdf' %}"><i class="material-icons">save_alt</i></a>
</div>

<div class="downloadlink">
    <p>Emergency Contact Form</p>
    <a href="{% static 'docs/emergencycontact.docx' %}"><i class="material-icons">save_alt</i></a>
</div>

<div class="downloadlink">
    <p>Direct Deposit Form</p>
    <a href="{% static 'docs/directdeposit.docx' %}"><i class="material-icons">save_alt</i></a>
</div>
{% endblock %}