{% extends "base_generic.html" %}

{% block content %}
<h2 class="header" id="faqheader">Frequently Asked Questions</h2>
<h3 class="question"><strong>How can I change my reservation's pick up location or vehicle?</strong></h3>
<p class="answer">To change your pick up location or vehicle, you must cancel your current reservation 
    and start a new one.</p>
<h3 class="question"><strong>When will my card be charged for my reservation?</strong></h3>
<p class="answer">If you choose to pay online, your card will be charged when you pick your vehicle up.</p>
<h3 class="question"><strong>Will I be charged a late fee if I bring my car back after the deadline?</strong></h3>
<p class="answer">You will not be charged a late fee for returning your vehicle past your drop off day. 
    However, you will be charged for any extra days you keep your vehicle.</p>
<h3 class="question"><strong>Can I return my vehicle while the store is closed?</strong></h3>
<p class="answer">Yes, you may drop your vehicle off using our convenient key dropboxes. You will not
    be charged an additional fee.</p>
<h3 class="question"><strong>How old do I have to be to rent a vehicle?</strong></h3>
<p class="answer">You must be at least 18 years old to rent a vehicle from Speedcats.</p>
<h3 class="question"><strong>My question wasn't answered here. How can I contact you?</strong></h3>
<p class="answer">Use our contact form to send us any questions not answered here.</p>
{% endblock %}