{% extends "base_generic.html" %}

{% block content %}
<h2 class="header" id="faqheader">Frequently Asked Questions</h2>
<h3 class="question"><strong>How can I change my reservation's pick up location or vehicle?</strong></h3>
<p class="answer">To change your pick up location or vehicle, you must cancel your current reservation 
    and start a new one.</p>
<h3 class="question"><strong>When will my card be charged for my reservation?</strong></h3>
<p class="answer">If you choose to pay online, your card will be charged when you pick your vehicle up.</p>
<h3 class="question"><strong>My question wasn't answered here. How can I contact you?</strong></h3>
<p class="answer">Use our contact form to send us any questions not answered here.</p>
{% endblock %}