{% extends "base_generic.html" %}

{% block content %}
<h2 class="header" id="feedbackheader">Feedback</h2>
<p id="modifyinstructions">Have a comment about Speedcats's website? Did you find a bug? Let us know using the form below!</p>
<form class="contactform">
    <p>Name</p>
    <input type="text" name="name" id="contactname">
    <p>Email</p>
    <input type="email" name="email" id="contactemail">
    <p>Subject</p>
    <input type="text" name="subject" id="contactsubject">
    <p>Message</p>
    <textarea rows="12"></textarea>

    <button type="submit" id="sendbutton" class="roundbutton">Send</button>
</form>
{% endblock %}