{% extends "base_generic.html" %}

{% block content %}
    <h2 class="header" id="historyheader">Your Reservation History</h2>

    <ul id="reservationlist">
        {% for reservation in reservations %}
        <div>
            <a href="{% url 'inventory:reservation' reservation.id %}">
            <p class="reservationtime">{{ reservation.vehicle }}</p>
            {% if reservation.status == "Upcoming" %}
                <p class="reservationtime">Starting {{ reservation.pick_up_time }}</p>
            {% endif %}
            {% if reservation.status != "Upcoming" %}
                <p class="reservationtime">Started {{ reservation.pick_up_time }}</p>
            {% endif %}
            <p class="reservationtime">Status: {{ reservation.status }}</p>
            </a>
        </div>
        {% empty %}
        <div>
            <p>You haven't made a reservation yet.</p>
        </div>
        {% endfor %}
    </ul>

{% endblock %}