{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/zenscroll-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/homeScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/setupPage.js' %}"></script>
{% endblock %}

{% block content %}
    <div>
        <img src="../../static/img/homephoto.png" width="100%" id="homeimage">
        <div id="welcomeheading">
                <h2>Welcome to Speedcats Car Rental</h2>
                <p>The speediest way to get on the road!</p>
        </div>
        <i class="material-icons" id="desktoparrow">expand_more</i>
    </div>
    <div id="vehiclehomecontent">
        <div id="homecontent">
            <a href="{% url 'inventory:index' %}">
                <div id="startreservationbutton" class="roundbutton">
                    <p>Start A Reservation</p>
                    <i class="material-icons">chevron_right</i>
                </div>
            </a>
            <p>Founded in Columbus, Ohio in 1985, Speedcats has earned a reputation for reliable,
                speedy service. With hundreds of vehicles available any time right from your phone,
                renting from Speedcats has never been easier.</p>
            <div id="threedetails">
                <div class="detail">
                    <h2>Reserve Online</h2>
                    <p>Choose any vehicle any time, right from your phone.</p>
                </div>
                <div class="detail">
                    <h2>No Hidden Fees</h2>
                    <p>Pay only the price you see, no surprise costs or fees.</p>
                </div>
                <div class="detail">
                    <h2>Choose Your Payment</h2>
                    <p>Save time by paying online, or choose to pay in store.</p>
                </div>
            </div>
            <p>Rent your dream car at the lowest price in the state of Ohio. Any of our eight convenient
                locations offer superior service and ease of use. Create an account to get started!
            </p>
            <footer>
                <div id="social">
                    <a href="http://fb.me/speedcatscarrental"><img src="../../static/img/facebook.png" height="22px"></a>
                    <a href="https://instagram.com/speedcatscarrental"><img src="../../static/img/instagram.png" height="24px"></a>
                    <a href="https://twitter.com/speedcatsr"><img src="../../static/img/twitter.png" height="23px"></a>
                    <a href="https://plus.google.com/108523434762412552892"><img src="../../static/img/google-plus.png" height="24px"></a>
                </div>
                <div id="copyright">
                    <p>© 2018 Speedcats Car Rental</p>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}