{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script>
    var markerImage = "{% static 'img/location_marker.png' %}";
    var markerImageHome = "{% static 'img/location_marker_home.png' %}";
</script>
<script type="text/javascript" src="{% static 'js/checkStartForm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validateTime.js' %}"></script>
<script type="text/javascript" src="{% static 'js/location.js' %}"></script>
{% endblock %}

{% block content %}
<h2 class="header" id="locationheader">Start Your Reservation</h2>

<p id="startinstructions">Begin by selecting your pick up and drop off times and locations. Then, search our wide variety
    of vehicles to find your favorite vehicle.
</p>

<form name="paymentlocation" id="selectlocation" action="{% url 'inventory:store' %}" method="post">
{% csrf_token %}
    <div id="pickupdesktop" class="desktop">
        <h3>Choose Your Pick Up</h3>

        <div id="pickuptime" class="selectcard">
            <p id="pickuptimetext">Tap here to select a time</p>
            <i class="material-icons" id="pickuptimearrow">expand_less</i>
        </div>
        <input type="hidden" name="pickuptimeformat" id="pickuptimeformat" readonly>

        <div id="pickuplocation" class="selectcard">
            <p id="pickuploctext">Tap here to select a location</p>
            <i class="material-icons" id="pickuplocationarrow">expand_less</i>
        </div>
        <input type="hidden" name="pickuplocationid" id="pickuplocationid" readonly>
    </div>

    <div id="dropoffdesktop" class="desktop">
        <h3>Choose Your Drop Off</h3>

        <div id="dropofftime" class="selectcard">
            <p id="dropofftimetext">Tap here to select a time</p>
            <i class="material-icons" id="dropofftimearrow">expand_less</i>
        </div>
        <input type="hidden" name="dropofftimeformat" id="dropofftimeformat" readonly>

        <div id="dropofflocation" class="selectcard">
            <p id="dropoffloctext">Tap here to select a location</p>
            <i class="material-icons" id="dropofflocationarrow">expand_less</i>
        </div>
        <input type="hidden" name="dropofflocationid" id="dropofflocationid" readonly>

        <div id="dropoffcheckbox">
            <input type="checkbox" id="dropoffdiff" name="dropoffdiff">
            <p>Drop off at another location</p>
        </div>
    </div>

    <button type="button" id="startbutton" class="roundbutton">Start</button>
</form>
    
<div id="timeshade" class="popupshade"></div>
<div id="locationshade" class="popupshade"></div>

<div id="pickuptimecard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Pick Up Time</h3>
        <i id="closepickuptime" class="material-icons">close</i>
    </div>
    <p id="pickuptimemessage">Store Hours: 8:00 A.M. to 6:00 P.M.</p>
    <div class="timepicker">
        <input type="date" id="pickupdateinput" class="input" name="dateinput"/>
        <p>AT</p>
        <input type="time" id="pickuptimeinput" class="input" name="timeinput" min="7:00" max="20:00"/>
    </div>
    <p id="pickupdonebutton" class="donebutton">Done</p>
</div>

<div id="dropofftimecard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Drop Off Time</h3>
        <i id="closedropofftime" class="material-icons">close</i>
    </div>
    <p id="dropofftimemessage">Store Hours: 8:00 A.M. to 6:00 P.M.</p>
    <div class="timepicker">
        <input type="date" id="dropoffdateinput" class="input" name="dateinput"/>
        <p>AT</p>
        <input type="time" id="dropofftimeinput" class="input" name="timeinput" min="7:00" max="20:00"/>
    </div>
    <p id="dropoffdonebutton" class="donebutton">Done</p>
</div>

<div id="dropofflocationcard" class="infoselector mapinfoselector">
    <div id="dropoffsearchbox">
        <i class="button material-icons" id="dropofflocatebutton">near_me</i>
        <input id="dropofflocationsearch" placeholder="Enter your location..." type="text">
        <i class="button material-icons" id="dropoffsearchbutton">search</i>
    </div>
    <div id="dropoffmap" class="testmap"></div>
    <div class="infoselectorheader">
        <h3>Select Your Drop Off Location</h3>
        <i id="closedropoff" class="material-icons">close</i>
    </div>
    <div class="locationpicker">
        <p id="dropofflocationtext" class="locationpickertext">Choose a location on the map</p>
    </div>
    <p id="dropofflocationdone" class="donebutton">Done</p>
</div>

<div id="pickuplocationcard" class="infoselector mapinfoselector">
    <div id="pickupsearchbox">
        <i class="button material-icons" id="pickuplocatebutton">near_me</i>
        <input id="pickuplocationsearch" placeholder="Enter your location..." type="text">
        <i class="button material-icons" id="pickupsearchbutton">search</i>
    </div>
    <div id="pickupmap" class="testmap"></div>
    <div class="infoselectorheader">
        <h3>Select Your Pick Up Location</h3>
        <i id="closepickup" class="material-icons">close</i>
    </div>
    <div class="locationpicker">
        <p id="pickuplocationtext" class="locationpickertext">Choose a location on the map</p>
    </div>
    <p id="pickuplocationdone" class="donebutton">Done</p>
</div>
{% endblock %}

{% block initMap %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTcPqvmsy0xt1IYWSsNnEbipW90i3otLE&libraries=places"></script>
{% endblock %}