{% extends "base_generic.html" %}

{% block content %}
<div id="mapcontainer">
    <div id="map"></div>
    <div id="searchbox">
        <i class="button material-icons" id="locatebutton">near_me</i>
        <input id="locationsearch" placeholder="Enter your location..." type="text">
        <i class="button material-icons" id="searchbutton">search</i>
    </div>
</div>

<div id="infocontainer">
    <h2 class="header" id="locationheader">Start Your Reservation</h2>

    <div id="selectlocation">
        <h3>Pick Up Location</h3>
        <p id="selecttext">Select a location on the map</p>
        <h3>Pick Up Time</h3>
        <p>Click here to select a date and time</p> 
    </div>

    <div id="startbutton">
        <p>START</p>
    </div>

</div>
{% endblock %}