{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script>
    var markerImage = "{% static 'img/location_marker.png' %}";
    var markerImageHome = "{% static 'img/location_marker_home.png' %}";
</script>
<script type="text/javascript" src="{% static 'js/location.js' %}"></script>
{% endblock %}

{% block title %}<title>Speedcats Locations</title>{% endblock %}

{% block content %}
<div id="mapcontainer">
    <div id="map"></div>
    <div id="searchbox">
        <i class="button material-icons" id="locatebutton">near_me</i>
        <input id="locationsearch" placeholder="Enter your location..." type="text">
        <i class="button material-icons" id="searchbutton">search</i>
    </div>
</div>
<div id="infocontainer" class="locationcontainer">
    <h2 class="header" id="locationheader">Locations</h2>
    <p id="locationpageinfo">With eight locations across the state of Ohio, the car of your dreams is never
        too far away. Use the map above to find the locations closest to you. Then,
        use the cards below to learn more about each location.</p>
    <div id="desktoplocations">
    {% for location in storelocations %}
        <div class="locationcard" id="location{{ forloop.counter }}">
            <div class="locationcardheader">
                <h3>{{ location.city}}, {{ location.state }}</h3>
            </div>
            <p>{{ location }} {{ location.zipcode }}</p>
            <p>Email: {{ location.email }}</p>
            <p>Phone: {{ location.phone }}</p>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}

{% block initMap %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTcPqvmsy0xt1IYWSsNnEbipW90i3otLE&libraries=places&callback=initMap"></script>
{% endblock %}