{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/checkModifyForm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/location.js' %}"></script>
{% endblock %}

{% block content %}
<div id="mapcontainer">
    <div id="map"></div>
    <div id="searchbox">
        <i class="button material-icons" id="locatebutton">near_me</i>
        <input id="locationsearch" placeholder="Enter your location..." type="text">
        <i class="button material-icons" id="searchbutton">search</i>
    </div>
</div>

<div id="infocontainer">
    <h2 class="header" id="locationheader">Modify Your Reservation</h2>

    <div id="selectlocation">

        {% if reservation.status == "Upcoming" %}
        <!--<h3>Change Your Vehicle</h3>
            <div id="modifyvehicle" class="selectcard">
            <p id="modifyvehiclecardtext">{{ reservation.vehicle }}</p>
        </div>-->

        <h3>Change Your Pick Up</h3>

        <div id="pickuptime" class="selectcard">
            <p id="pickuptimetext">{{ reservation.pick_up_time }}</p> 
        </div>
        {% endif %}

        <h3>Change Your Drop Off</h3>
        <div id="dropofftime" class="selectcard">
            <p id="dropofftimetext">{{ reservation.drop_off_time }}</p> 
        </div>
        {% if reservation.pick_up_location == reservation.drop_off_location %}
        <div id="dropofflocation" class="selectcard">
            <p id="dropoffloctext">{{ reservation.drop_off_location }}</p>
        </div>
        <div id="dropoffcheckbox">
            <input type="checkbox" id="dropoffdiff" name="dropoffdiff">
            <p>Drop off at another location</p>
        </div>
        {% else %}
        <div id="dropofflocation" class="selectcard" style="display: block;">
            <p id="dropoffloctext">{{ reservation.drop_off_location }}</p>
        </div>
        <div id="dropoffcheckbox">
            <input type="checkbox" id="dropoffdiff" name="dropoffdiff" checked>
            <p>Drop off at another location</p>
        </div>
        {% endif %}

    </div>

    <div id="modifybutton" class="roundbutton">
        <p>DONE</p>
    </div>
</div>

<div id="pickuptimecard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Pick Up Time</h3>
        <i id="closepickuptime" class="material-icons">expand_more</i>
    </div>
    <div id="timepicker">
        <input type="date" id="pickupdateinput" class="input" name="dateinput"/>
        <p>AT</p>
        <input type="time" id="pickuptimeinput" class="input" name="timeinput" min="7:00" max="20:00"/>
        <p id="pickupdonebutton" class="donebutton">DONE</p>
    </div>
</div>

<div id="dropofftimecard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Drop Off Time</h3>
        <i id="closedropofftime" class="material-icons">expand_more</i>
    </div>
    <div id="timepicker">
        <input type="date" id="dropoffdateinput" class="input" name="dateinput"/>
        <p>AT</p>
        <input type="time" id="dropofftimeinput" class="input" name="timeinput" min="7:00" max="20:00"/>
        <p id="dropoffdonebutton" class="donebutton">DONE</p>
    </div>
</div>

<div id="dropofflocationcard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Drop Off Location</h3>
        <i id="closedropoff" class="material-icons">expand_more</i>
    </div>
    <div class="locationpicker">
        <p id="dropofflocationtext" class="locationpickertext">Choose a location on the map</p>
        <p id="dropofflocationdone" class="donebutton">DONE</p>
    </div>
</div>
{% endblock %}

{% block initMap %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTcPqvmsy0xt1IYWSsNnEbipW90i3otLE&libraries=places&callback=initMap"></script>
{% endblock %}