{% extends "base_generic.html" %}

{% block content %}
<div id="mapcontainer">
    <div id="map"></div>
    <div id="searchbox">
        <i class="button material-icons" id="locatebutton">near_me</i>
        <input id="locationsearch" placeholder="Enter your location..." type="text">
        <i class="button material-icons" id="searchbutton">search</i>
    </div>
</div>

<div id="infocontainer">
    <h2 class="header" id="locationheader">Modify Your Reservation</h2>

    <div id="selectlocation">
        {% if reservation.status == "Upcoming" %}
        <h3>Choose Your Pick Up</h3>
        <div id="pickuplocation" class="selectcard">
            <p id="pickuplocationcardtext">{{ reservation.pick_up_location }}</p>
        </div>
        <div id="pickuptimeselect" class="selectcard">
            <p id="pickuptimecardtext">{{ reservation.pick_up_time }}</p> 
        </div>
        {% endif %}
        <h3>Choose Your Drop Off</h3>
        <div id="dropofflocation" class="selectcard">
            <p id="dropofflocationcardtext">{{ reservation.drop_off_location }}</p>
        </div>
        <div id="dropofftimeselect" class="selectcard">
            <p id="dropofftimecardtext">{{ reservation.drop_off_time }}</p> 
        </div>
        {% if reservation.status == "Upcoming" %}
        <h3>Change Your Vehicle</h3>
        <div id="modifyvehicle" class="selectcard">
            <p id="modifyvehiclecardtext">{{ reservation.vehicle }}</p>
        </div>
        {% endif %}
    </div>

    <div id="startbutton" class="roundbutton">
        <p>DONE</p>
    </div>
</div>

<div id="pickuptimecard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Pick Up Time</h3>
        <i id="closepickuptime" class="material-icons">expand_more</i>
    </div>
    <div id="timepicker">
        <input type="date" id="pickupdateinput" class="input" name="dateinput"/>
        <p>AT</p>
        <input type="time" id="pickuptimeinput" class="input" name="timeinput" min="7:00" max="20:00"/>
        <p id="pickupdonebutton" class="donebutton">DONE</p>
    </div>
</div>

<div id="dropofftimecard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Drop Off Time</h3>
        <i id="closedropofftime" class="material-icons">expand_more</i>
    </div>
    <div id="timepicker">
        <input type="date" id="dropoffdateinput" class="input" name="dateinput"/>
        <p>AT</p>
        <input type="time" id="dropofftimeinput" class="input" name="timeinput" min="7:00" max="20:00"/>
        <p id="dropoffdonebutton" class="donebutton">DONE</p>
    </div>
</div>

<div id="dropofflocationcard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Drop Off Location</h3>
        <i id="closedropoff" class="material-icons">expand_more</i>
    </div>
    <div class="locationpicker">
        <p id="dropofflocationtext" class="locationpickertext">Choose a location on the map</p>
        <p id="dropofflocationdone" class="donebutton">DONE</p>
    </div>
</div>

<div id="pickuplocationcard" class="infoselector">
    <div class="infoselectorheader">
        <h3>Select Your Pick Up Location</h3>
        <i id="closepickup" class="material-icons">expand_more</i>
    </div>
    <div class="locationpicker">
        <p id="pickuplocationtext" class="locationpickertext">Choose a location on the map</p>
        <p id="pickuplocationdone" class="donebutton">DONE</p>
    </div>
</div>
{% endblock %}