{% extends "base_generic.html" %}

{% block title %}<title>Register</title>{% endblock %}

{% block content %}
  <h2 class="header">Create An Account</h2>
  <form method="post">
    {% csrf_token %}
    <div id="registerform">
      {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
      </div>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
      {% endfor %}
    </div>
    <button type="submit" id="registerbutton" class="roundbutton">REGISTER</button>
  </form>
{% endblock %}