{% extends "base_generic.html" %}

{% block title %}<title>Register</title>{% endblock %}

{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/confirmAge.js' %}"></script>
{% endblock %}

{% block content %}
  <h2 class="header" id="registerheader">Create An Account</h2>
  <form method="post" name="registerform" id="registrationform">
    {% csrf_token %}
    <div id="registerform">
      <h3><b>Account Settings</b></h3>
      {% for field in register_form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
      </div>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
      {% endfor %}

      <h3 id="profilesettingsheader"><b>Profile Settings</b></h3>
      {% for field in profile_form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
      </div>
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
      {% endfor %}
    </div>
    <button id="registerbutton" class="roundbutton">Register</button>
  </form>
{% endblock %}