{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/setupPage.js' %}"></script>
{% endblock %}

{% block content %}
    {% if reservation.vehicle.image %}
    <img src="{{ reservation.vehicle.image.url }}" width="100%" id="vehicleimage">
    {% endif %}
    <div id="vehiclecontent">
        <h2 class="header">Reservation Details</h2>
        <div id="reservationdetails">
            <h3>Summary</h3>
            <p>{{ reservation.vehicle }} for {{ reservation.length }} days</p>
            <h3>Pick Up</h3>
            <p>{{ reservation.pick_up_location }} on {{ reservation.pick_up_time }}</p>
            <h3>Drop Off</h3>
            <p id="separator">{{ reservation.drop_off_location }} on {{ reservation.drop_off_time }}</p>
            <div id="pricedetails">
                <p>Subtotal: ${{ reservation.subtotal }}</p>
                <p>Tax: ${{ reservation.tax }}</p>
                <p>Total: ${{ reservation.total }}</p>
            </div>
        </div>
        <div id="reservebuttons">
            {% if reservation.status == 'Upcoming' %}
            <a href="{% url 'inventory:modify' reservation.id %}">
                <div id="editbutton" class="reservebutton roundbutton">
                    <p>MODIFY</p>
                </div>
            </a>
                <div id="deletebutton" class="reservebutton roundbutton">
                    <p>CANCEL</p>
                </div>
            {% endif %}
            {% if reservation.status == 'In Progress' %}
            <a href="{% url 'inventory:modify' reservation.id %}">
                <div id="editbutton" class="reservebutton roundbutton">
                    <p>MODIFY</p>
                </div>
            </a>
            <div id="deletebutton" class="disabledbutton roundbutton">
                <p>CANCEL</p>
            </div>
            {% endif %}
            {% if reservation.status == 'Completed' %}
            <div id="editbutton" class="disabledbutton roundbutton">
                <p>MODIFY</p>
            </div>
            <div id="deletebutton" class="disabledbutton roundbutton">
                <p>CANCEL</p>
            </div>
            {% endif %}
        </div>

        <div id="cancelconfirmation">
            <p>Confirm your cancellation.</p>
        </div>
    </div>
{% endblock %}