{% extends "base_generic.html" %}

{% block content %}
<img src="{{ vehicle.image.url }}" width="100%">
<h2 class="header">Place Your Reservation</h2>
<div id="reservecontent">
    <div id="paymentlocation">
        <form name="paymentlocation" action="{% url 'inventory:makereservation' store.ID vehicle.id %}" method="post">
            {% csrf_token %}
            <p>Confirm details here</p>
            <input type="text" name="pickupstore" id="pickupstore">
            <input type="text" name="pickuptime" id="pickuptime">
            <input type="text" name="dropoffstore" id="dropoffstore">
            <input type="text" name="dropofftime" id="dropofftime">
            <div id="paymentlocationcontinue">
                <input type="submit" value="CONTINUE">
            </div>
        </form>
    </div>
</div>
{% endblock %}