{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>Place Your Reservation</title>{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/setupPage.js' %}"></script>
<script type="text/javascript" src="{% static 'js/reserve.js' %}"></script>
{% endblock %}

{% block content %}
<img src="{{ vehicle.image.url }}" width="100%" id="vehicleimage">
<div id="vehiclecontent">
    <h2 class="header">Place Your Reservation</h2>
    <div id="reservecontent">
        <h3>Summary</h3>
        <p>{{ vehicle }} for {{ length }} days</p>
        <h3>Pick Up</h3>
        <p>{{ store }} on {{ pick_up_format }}</p>
        <h3>Drop Off</h3>
        <p id="separator">{{ drop_off_store }} on {{ drop_off_format }}</p>
        <form name="paymentlocation" action="{% url 'inventory:makereservation' store.ID vehicle.id %}" method="post">
            {% csrf_token %}
            <div class="paymentprice">
                    <p>Base Price: $</p>
                    <input type="text" name="subtotal" id="checkoutsub" value="{{ vehicle.price }}" readonly><br>
                </div>
            <div class="paymentprice">
                <p>Subtotal: $</p>
                <input type="text" name="subtotal" id="checkoutsub" value="{{ subtotal }}" readonly><br>
            </div>
            <div class="paymentprice">
                <p>Tax: $</p>
                <input type="text" name="tax" id="checkouttax" value="{{ tax }}" readonly><br>
            </div>
            <div class="paymentprice" id="totaldiv">
                <p>Total: $</p>
                <input type="text" name="total" id="checkouttotal" value="{{ total }}" readonly><br>
            </div>

            <div class="paymentlocationselect" id="instorediv">
                <input type="radio" name="payment" id="payinstore" checked>
                <p class="paymenttext">Pay in store</p><br>
            </div>
            <div class="paymentlocationselect" id="onlinediv">
                <input type="radio" name="payment" id="payonline">
                <p class="paymenttext">Pay online</p><br>
            </div>

            <div id="paymentformdiv">
                <h3>Enter Your Payment Information</h3>
                <input type="text" placeholder="Cardholder name">
                <input type="text" placeholder="Card number">

                <select>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>

                <select>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                    <option value="24">2024</option>
                    <option value="25">2025</option>
                </select>

                <input type="text" placeholder="CVV">
            </div>
            <a href="{% url 'inventory:home' %}">
                <div id="reservecancelbutton">
                    <p>Cancel</p>
                </div>
            </a>
            <input type="submit" value="CONTINUE" id="reservecontinuebutton" class="placebuttons roundbutton">
        </form>
    </div>
</div>
{% endblock %}