{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/setupPage.js' %}"></script>
{% endblock %}

{% block content %}
    {% if reservation.vehicle.image %}
    <img src="{{ reservation.vehicle.image.url }}" width="100%" id="vehicleimage">
    {% endif %}
    <div id="vehiclecontent">
        <h2 class="header">{{ reservation.vehicle }}</h2>
        <p>From {{ reservation.pick_up_location }}</p>
        <p>To {{ reservation.drop_off_location }}</p>
        <p>{{ reservation.length }}</p>
        <div id="reservebuttons">
            {% if reservation.status == 'Upcoming' %}
            <a href="{% url 'inventory:modify' reservation.id %}">
                <div id="editbutton" class="reservebutton roundbutton">
                    <p>MODIFY</p>
                </div>
            </a>
            <a href="{% url 'inventory:cancel' reservation.id %}">
                <div id="deletebutton" class="reservebutton roundbutton">
                    <p>CANCEL</p>
                </div>
            </a>
            {% endif %}
            {% if reservation.status == 'In Progress' %}
            <a href="{% url 'inventory:modify' reservation.id %}">
                <div id="editbutton" class="reservebutton roundbutton">
                    <p>MODIFY</p>
                </div>
            </a>
            <div id="deletebutton" class="disabledbutton roundbutton">
                <p>CANCEL</p>
            </div>
            {% endif %}
            {% if reservation.status == 'Completed' %}
            <div id="editbutton" class="disabledbutton roundbutton">
                <p>MODIFY</p>
            </div>
            <div id="deletebutton" class="disabledbutton roundbutton">
                <p>CANCEL</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}