{% extends "base_generic.html" %}

{% block content %}
    <div id="storecontent">
    <h2 class="header">{{ store.city }}, {{ store.state }}</h2>
    <div id="vehiclesearch">
        <form name="vehiclesearch" id="vehiclesearchform" action="{% url 'inventory:search' %}" method="post">
            {% csrf_token %}
            <input type="text" name="searchquery" id="searchquery" placeholder="Search for vehicles...">
            <button type="submit" id="vehiclesearchbutton"><i class="button material-icons" id="vehiclesearchicon">search</i></button>
        </form>
    </div>
    {% for result in results %}
        <div class="vehicle">
            <a href="/inventory/{{ result.store.ID }}/{{ result.id }}/">
                <img src="{{ result.image.url }}">
                <div class="vehiclelistdetails">
                    <p class="vehiclename">{{ result }}</p>
                    <p class="vehicleprice">${{ result.price }} / day</p>
                </div>
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    {% empty %}
        <p>No vehicles available</p>
    {% endfor %}
    </div>
{% endblock %}