{% extends "base_generic.html" %}

{% block content %}
    <img src="{{ vehicle.image.url }}" width="100%" id="vehicleimage">
    <div id="vehiclecontent">
        <h2 class="header">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h2>
        <div id="vehicledescription">
            <p>{{ vehicle.description }}</p>
            <a href="/inventory/{{ vehicle.store.ID }}/{{ vehicle.id }}/reserve">
                <div id="reservebutton">
                    <p>RESERVE</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}