{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/setupPage.js' %}"></script>
{% endblock %}

{% block content %}
    {% if vehicle.image %}
    <img src="{{ vehicle.image.url }}" width="100%" id="vehicleimage">
    {% endif %}
    <div id="vehiclecontent">
        <h2 class="header">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h2>
        <div id="vehicledescription">
            <div id="vehicledetails">
                <p>Milage: {{ vehicle.mileage }}</p>
                <p>Average Fuel Efficiency: {{ vehicle.gas_mileage }} mpg</p>
                <p>Engine: {{ vehicle.engine_size }}L {{ vehicle.engine_type }}</p>
                <p>Storage Space: {{ vehicle.storage_space }} L^3</p>
                <p>Horsepower: {{ vehicle.horsepower }} hp</p>
            </div>
            <a href="/inventory/{{ vehicle.store.ID }}/{{ vehicle.id }}/reserve">
                <div id="reservebutton" class="roundbutton">
                    <p>RESERVE</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}