{% extends "base_generic.html" %}

{% block content %}
    <div id="storecontent">
    <h2 class="header">{{ vehicles.0.store.city }}, {{ vehicles.0.store.state }}</h2>
    {% for vehicle in vehicles %}
        <div class="vehicle">
            <a href="/inventory/{{ vehicle.store.ID }}/{{ vehicle.id }}/">
                <div class="vehiclename">
                    <p>{{ vehicle }}</p>
                </div>
                <img src="{{ vehicle.image.url }}">
                <div class="vehicleprice">
                    <p>Starting at $67.99</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}