{% extends "base_generic.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/setupPage.js' %}"></script>
{% endblock %}

{% block content %}
    {% if vehicle.image %}
    <img src="{{ vehicle.image.url }}" width="100%" id="vehicleimage">
    {% endif %}
    <div id="vehiclecontent">
        <h2 class="header">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h2>
        <div id="vehicledescription">
            <div id="vehicledetails">
                <h3><strong>Vehicle Details</strong></h3>
                <p><strong>Mileage:</strong> {{ vehicle.mileage }}</p>
                <p><strong>Average Fuel Efficiency:</strong> {{ vehicle.gas_mileage }} mpg</p>
                <p><strong>Engine:</strong> {{ vehicle.engine_size }}L {{ vehicle.engine_type }}</p>
                <p><strong>Storage Space:</strong> {{ vehicle.storage_space }} cu. ft.</p>
                <p><strong>Horsepower:</strong> {{ vehicle.horsepower }} hp</p>
                <a href="/inventory/{{ vehicle.store.ID }}/{{ vehicle.id }}/reserve" id="reservebutton">
                    <div class="roundbutton">
                        <p>RESERVE</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}