/* Slides menu in and out */
@keyframes menuOut {
	from { transform: translateX(-270px); }
	to { transform: translateX(0); }
}

@keyframes menuIn {
	from { transform: translateX(0); }
	to { transform: translateX(-270px); }
}

/* Slides time pickers up and down */
@keyframes timeUp {
	from { transform: translateY(210px); }
	to { transform: translateY(-220px); }
}

@keyframes timeDown {
	from { transform: translateY(-220px); }
	to { transform: translateY(210px); }
}

/* Slides location pickers up and down */
@keyframes mapUp {
	from { transform: translateY(580px); }
	to { transform: translateY(-30px); }
}

@keyframes mapDown {
	from { transform: translateY(-30px); }
	to { transform: translateY(580px); }
}

/* Bounce arrow on desktop home page */
@keyframes arrowBounce {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(30px); }
}

/* Fade in and out */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* Slide modify confirmation cards up and down */
@keyframes cardUp {
	from { transform: translateY(0); }
	to { transform: translateY(-600px); }
}

@keyframes cardDown {
	from { transform: translateY(-600px); }
	to { transform: translateY(0); }
}

/* Animations for menu button */
@keyframes topToArrow {
	from { transform: translateY(0px) scaleX(1) rotate(0deg); }
	to { transform: translateY(3px) scaleX(0.5) rotate(-16deg); }
}

@keyframes topToButton {
	from { transform: translateY(3px) scaleX(0.5) rotate(-16deg); }
	to { transform: translateY(0px) scaleX(1) rotate(0deg); }
}

@keyframes bottomToArrow {
	from { transform: translateY(0px) scaleX(1) rotate(0deg); }
	to { transform: translateY(-3px) scaleX(0.5) rotate(16deg); }
}

@keyframes bottomToButton {
	from { transform: translateY(-3px) scaleX(0.5) rotate(16deg); }
	to { transform: translateY(0px) scaleX(1) rotate(0deg); }
}