/* Slides menu in and out */
@keyframes menuOut {
	from { transform: translateX(-270px); }
	to { transform: translateX(0); }
}

@keyframes menuIn {
	from { transform: translateX(0); }
	to { transform: translateX(-270px); }
}

/* Slides time picker up and down */
@keyframes timeUp {
	from { transform: translateY(130px); }
	to { transform: translateY(0px); }
}

@keyframes timeDown {
	from { transform: translateY(0px); }
	to { transform: translateY(130px); }
}

/* Bounce arrow on desktop home page */
@keyframes arrowBounce {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(30px); }
}