html, body {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: rgb(218, 216, 216);
}

a:link {
	color: white;
}

a:visited {
	color: white;
	text-decoration: none !important;
}

h1 {
	font-size: 20pt;
	font-family: 'Fjalla One', sans-serif;
	margin: 0;
}

h2 {
	font-size: 18pt;
	font-family: 'Fjalla One', sans-serif;
	margin: 0;
}

p {
	font-size: 13pt;
	font-family: 'Cantarell', sans-serif;
	padding: 0 15px;
	text-align: center;
}

li {
	list-style-type: none;
	margin: 0 30px 10px;
	padding: 0 0 15px;
	font-size: 18pt;
	font-family: 'Cantarell', sans-serif;
	color: white;
	text-align: center;
	border-bottom: 1px solid rgb(156, 188, 204);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 14px);
	height: 55px;
	background-color: #607D8B;
	box-shadow: 0 1px 6px #666666;
	padding: 0 7px;
	position: fixed;
	top: 0;
	z-index: 10;
}

header > h1 {
	text-align: center;
	color: white;
}

nav {
	position: fixed;
	display: flex;
	background-color: #8eacbb;
	width: 300px;
	height: 100%;
	transform: translateX(-350px);
	top: 55px;
	box-shadow: 2px 0 6px -2px #666666;
	z-index: 10;
}

nav > ul {
	width: 100%;
	padding: 15px 0;
	margin: 0;
}

.pac-container {
	margin-top: 12px !important;
	padding: 0 7px 7px 7px !important;
	border-radius: 3px !important;
	box-shadow: 0 1px 3px #666666 !important;
}

.button {
	padding: 8px;
}

.vehicle {
	background-color: white;
	padding: 5px 0;
	margin: 0 20px 10px;
	border-radius: 3px;
	box-shadow: 0 1px 3px #666666;
}

.vehicle > p {
	margin: 0;
	padding: 0;
}

#menubutton {
	font-size: 21pt;
	color: white;
}

#accountbutton {
	font-size: 20pt;
	color: white;
}

#content {
	width: 100%;
	padding-top: 68px;
}

#search > h2 {
	padding: 0 0 7px 22px;
}

#searchbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 20px;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0 1px 3px #666666;
	background-color: white;
}

#locatebutton {
	margin-right: auto;
}

#locationsearch {
	border: none;
	width: 100%;
	font-family: 'Cantarell', sans-serif;
	font-size: 11pt;
	padding: 0 10px;
}

#locationsearch:focus {
	outline: none;
}

#searchbutton {
	margin-left: auto;
	transform: scaleX(-1);
}

#map {
	height: 260px;
	margin: 12px 20px 0;
	border-radius: 3px;
	box-shadow: 0 1px 3px #666666;
}

#select {
	display: none;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin: 12px 20px;
	background-color: #1b5e20;
	border-radius: 3px;
	box-shadow: 0 1px 3px #666666;
}

#select > p {
	color: white;
	font-size: 11pt;
}

#selectlink {
	margin-left: auto;
}

#selectbutton {
	color: white;
	font-size: 17pt;
}

#storeheader {
	padding: 0 0 0 22px;
	font-size: 18pt;
}

#storecontent {
	width: 100%;
	padding-top: 13px;
}

@media only screen and (min-width: 768px) {

	.button:hover {
		cursor: pointer;
	}

	.vehicle {
		margin: 0 23% 10px;
	}

	.vehicle:hover {
		cursor: pointer;
		background-color: rgb(226, 226, 226);
	}

	#search {
		margin: 5px 23%;
	}

	#map {
		height: 400px;
	}
}