html, body {
	padding: 0px;
	margin: 0px;
}

textarea, select, input, button { outline: none; }

body {
	background-color: rgb(218, 216, 216);
}

a:link {
	color: white;
}

a:visited {
	color: white;
	text-decoration: none !important;
}

h1 {
	font-size: 20pt;
	font-family: 'Fjalla One', sans-serif;
	margin: 0;
}

h2 {
	font-size: 18pt;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.5px;
	margin: 0;
}

p {
	font-size: 13pt;
	font-family: 'Roboto', sans-serif;
	padding: 0 15px;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 14px);
	height: 95px;
	background-color: #455A64;
	box-shadow: 0 1px 4px 1px #3f3f3f;
	padding: 0 7px;
	position: fixed;
	top: 0;
	z-index: 51;
	transform: translateY(-40px);
}

header > h1 {
	text-align: center;
	color: white;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 32px);
	height: 40px;
	z-index: 10;
	padding: 4px 0 0;
}

nav > p {
	padding: 8px;
	color: white;
}

a:-webkit-any-link {
	text-decoration: none;
}

.pac-container {
	margin-top: 12px !important;
	padding: 0 7px 7px 7px !important;
	border-radius: 3px !important;
	box-shadow: 0 1px 3px #666666 !important;
}

.button {
	padding: 8px;
}

.header {
	padding: 8px 0 8px 0;
	margin: 0 20px;
	font-size: 19pt;
}

.vehicle {
	background-color: #607D8B;
	padding: 0;
	margin: 0 20px 15px;
	border-radius: 3px;
	box-shadow: 0 1px 3px 1px #666666;
	position: relative;
}

.vehicle > p {
	margin: 0;
	padding: 0;
}

.vehiclename {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.vehiclename > p {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	margin: 0;
	padding: 5px 0 10px 15px;
	font-size: 13pt;
	margin-right: auto;
	color: white;
}

.vehicleimage {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.vehicleimage > img {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.loginform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.loginform > p {
	font-size: 11pt;
	font-family: 'Roboto', sans-serif;
	color: #525252;
}

.loginform > input {
	width: 250px;
	border: none;
	border-bottom: 1px solid #bbbbbb;
	font-size: 11pt;
	font-family: 'Roboto', sans-serif;
	padding: 0 5px 3px;
	color: #2b2b2b;
}

.loginmessage {
	font-size: 11pt;
	color: #f44336;
	margin: 10px 0 5px;
}

#logincontent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 20px 0;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 1px 3px 1px #666666;
	padding: 8px 0;
}

#loginbutton {
	background-color: #FF5722;
	color: white;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 4px #3d3d3d;
	font-family: 'Roboto', sans-serif;
	font-size: 13pt;
	height: 40px;
	padding: 0 12px;
	width: 100%;
	margin-top: 24px;
}

#register {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

#register > p {
	font-size: 10pt;
	color: #777676;
	padding: 8px;
	margin-bottom: 2px;
}

#logoutbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF5722;
	color: white;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0 1px 4px #3d3d3d;
}

#logo {
	text-decoration: underline;
}

#headermenu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 5px;
}

#menubutton {
	font-size: 21pt;
	color: white;
}

#accountbutton {
	font-size: 20pt;
	color: white;
}

#content {
	width: 100%;
	padding-top: 55px;
}

#welcome {
	text-align: left;
	text-indent: 18px;
	margin: 16px 7px;
}

#search {
	position: relative;
	top: 270px;
}

#search > h2 {
	padding: 0 0 7px 22px;
}

#locationheader {
	padding-top: 8px;
}

#searchbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 20px;
	height: 40px;
	border-radius: 3px;
	box-shadow: 0 1px 3px #666666;
	background-color: white;
	z-index: 50;
	position: absolute;
	top: 62px;
	width: calc(100% - 40px);
}

#locatebutton {
	margin-right: auto;
	color: #333333;
}

#locationsearch {
	border: none;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	padding: 0 10px;
}

#locationsearch:focus {
	outline: none;
}

#searchbutton {
	margin-left: auto;
	color: #333333;
	transform: scaleX(-1);
}

#map {
	width: 100%;
	height: 300px;
	box-shadow: 0 1px 3px #666666;
}

#select {
	display: none;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin: 3px 20px 10px;
	background-color: #607D8B;
	border-radius: 3px;
	box-shadow: 0 1px 3px #666666;
}

#select > p {
	color: white;
	font-size: 11pt;
}

#selectlink {
	margin-left: auto;
}

#selectbutton {
	color: white;
	font-size: 17pt;
}

#storecontent {
	width: 100%;
}

#storecontent > a {
	width: 100%;
}

#vehiclecontent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
	margin: 0 20px 30px;
	border-radius: 3px;
	box-shadow: 0 1px 3px 1px #666666;
}

#vehiclecontent > a {
	width: 100%;
}

#vehiclecontent > p {
	text-align: left;
	text-indent: 18px;
	margin: 15px 0 12px;
}

#vehiclecontent > img {
	margin: 0;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#reservebutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 40px);
	height: 40px;
	margin: 0 20px 20px;
	background-color: #FF5722;
	border-radius: 3px;
	box-shadow: 0 1px 3px 1px #3d3d3d;
}

#reservebutton > p {
	color: white;
	font-size: 12pt;
}

@media only screen and (min-width: 768px) {

	.button:hover {
		cursor: pointer;
	}

	.vehicle {
		margin: 0 23% 25px;
	}

	.vehicle:hover {
		cursor: pointer;
	}

	.vehiclename > p {
		font-size: 16pt;
	}

	.reservebutton {
		top: -29px;
		right: 28px;
		height: 30px;
		border-radius: 30px;
	}

	#welcome {
		margin: 16px 23%;
	}

	#logincontent {
		margin: 20px 30% 0;
	}

	#search {
		margin: 5px 23%;
	}

	#select:hover {
		cursor: pointer;
	}

	#map {
		height: 400px;
	}

	#vehiclecontent {
		margin: 0 23% 20px;
		width: 54%;
	}

	#reservebutton:hover {
		cursor: pointer;
		background-color: rgb(216, 69, 25);
		box-shadow: 0 1px 3px 2px #3d3d3d;
	}
}