<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Speedcats Car Rental</title>{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/animations.css' %}">
	{% if locations %}
	<script>
		var locationStr = '{{ locations }}';
		var locations = JSON.parse(locationStr.replace(/(&quot;)/g, '"'));
		localStorage.setItem('locations', JSON.stringify(locations));
	</script>
	{% endif %}
	<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</head>

<body>
	<header>
		<div id="headermenu">
			<i class="button material-icons" id="menubutton">menu</i>
			<a href="{% url 'inventory:home' %}">
				<img src="{% static 'img/logo.png' %}" id="logo">
			</a>
			<a href="{% url 'login' %}"><i class="button material-icons" id="accountbutton">account_circle</i></a>
		</div>
	</header>

	<nav>
		<a href="{% url 'inventory:index' %}">
			<div id="startnav" class="roundbutton">
				<p>Start A Reservation</p>
			</div>
		</a>
		<a href="{% url 'inventory:home' %}"><p>Home</p></a>
		<a href="{% url 'inventory:locations' %}"><p>Locations</p></a>
		<a href="{% url 'inventory:faqs' %}"><p>FAQs</p></a>
		<a href="{% url 'inventory:contact' %}"><p>Contact</p></a>
		<a href="{% url 'inventory:feedback' %}"><p>Feedback</p></a>
	</nav>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
	
	{% block initMap %}{% endblock %}
</body>
</html>