<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Speedcats Car Rental</title>{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/animations.css' %}">
	<script>
		var locationStr = '{{locations}}';
		var locations = JSON.parse(locationStr.replace(/(&quot;)/g, '"'));
	</script>
	<script type="text/javascript" src="{% static 'js/location.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/animations.js' %}"></script>
</head>

<body>
	<header>
		<nav>
			<a href="{% url 'index' %}"><p>Home</p></a>
			<a href="{% url 'faqs' %}"><p>FAQs</p></a>
			<a href="{% url 'contact' %}"><p>Contact</p></a>
			<a href="{% url 'feedback' %}"><p>Feedback</p></a>
		</nav>
		<div id="headermenu">
			<i class="button material-icons" id="menubutton">menu</i>
			<a href="{% url 'index' %}"><h1 id="logo">Speedcats</h1></a>
			<a href="{% url 'login' %}"><i class="button material-icons" id="accountbutton">account_circle</i></a>
		</div>
	</header>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTcPqvmsy0xt1IYWSsNnEbipW90i3otLE&libraries=places&callback=initMap"></script>
</body>
</html>